## Understanding Pandas

#### Step:01 Loading your data

In [1]:
#pip install pandas
import pandas as pd
from urllib.request import urlretrieve

In [5]:
bios_url = "https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv"

In [6]:
urlretrieve(bios_url,"dfbios")

('dfbios', <http.client.HTTPMessage at 0x13ef6ad80>)

In [2]:
coffee_url = "https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv"

In [4]:
urlretrieve(coffee_url , "dfcoffee.csv")

('dfcoffee.csv', <http.client.HTTPMessage at 0x111b841a0>)

#### Loading dataset

In [3]:
pokieme = pd.read_csv('pokemon_data.csv') # reading in csv dataset
# pokieme_in_excel_format = pd.read_excel('pokemon_data.xlsx')
# pokieme_in_text_format = pd.read_csv('pokemon_data.csv' , delimiter='\t') # reading in text dataset
bios = pd.read_csv('bio')

pokieme_in_csv_format #printing tht data
#print(pokieme_in_excel_forma)  print like this too

FileNotFoundError: [Errno 2] No such file or directory: 'bio'

#### Reading the head of dataset

In [ ]:
pokieme.head() #here you can choose your head

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

#### Reading the tail of dataset

In [ ]:
pokieme.tail()  # this is for tail ie last

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#### Getting all the coloumns

In [ ]:
pokieme.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### reading that specific coloumn

In [ ]:
# <!-- print(pokieme['Name']) #OG FORMAT -->
pokieme.Name #EASY WAY
# <!-- pokieme['Name'] -->

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Accessing  rows of that coloum

In [ ]:
pokieme['Name'][45:60] #accessing name fro 45 to 59 perticular coloumn

45    Wigglytuff
46         Zubat
47        Golbat
48        Oddish
49         Gloom
50     Vileplume
51         Paras
52      Parasect
53       Venonat
54      Venomoth
55       Diglett
56       Dugtrio
57        Meowth
58       Persian
59       Psyduck
Name: Name, dtype: object

In [ ]:

print(pokieme.iloc[70:72]) #whole row

     #                   Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
70  65               Alakazam  Psychic    NaN  55      50       45      135
71  65  AlakazamMega Alakazam  Psychic    NaN  55      50       65      175

    Sp. Def  Speed  Generation  Legendary
70       95    120           1      False
71       95    150           1      False

#### accesing multiple coloumns

In [ ]:
pokieme[['Name','Type 1','Type 2']]  #accesing multiple coloumns

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

#### Read a specific location(R,C)

In [ ]:
print(pokieme.iloc[2,1]) #first is from coloumn and second is from row 
#in this this wiil access from index 2 in coloumn and 1 index in row
print(pokieme.iloc[795,2])

Venusaur
Rock