## Understanding Pandas

#### Step:01 Loading your data

In [1]:
#pip install pandas
import pandas as pd
from urllib.request import urlretrieve

In [5]:
bios_url = "https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv"

In [8]:
urlretrieve(bios_url,"dfbios.csv")

('dfbios.csv', <http.client.HTTPMessage at 0x111b86630>)

In [2]:
coffee_url = "https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv"

In [4]:
urlretrieve(coffee_url , "dfcoffee.csv")

('dfcoffee.csv', <http.client.HTTPMessage at 0x111b841a0>)

#### Loading dataset

In [78]:
pokieme = pd.read_csv('pokemon_data.csv') # reading in csv dataset
# pokieme_in_excel_format = pd.read_excel('pokemon_data.xlsx')
# pokieme_in_text_format = pd.read_csv('pokemon_data.csv' , delimiter='\t') # reading in text dataset
bios = pd.read_csv('dfbios.csv')
coffee = pd.read_csv('dfcoffee.csv')


# pokieme_in_csv_format #printing tht data
#print(pokieme_in_excel_forma)  print like this too

#### Reading the head of dataset

In [ ]:
pokieme.head() #here you can choose your head

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

#### Reading the tail of dataset

In [ ]:
pokieme.tail()  # this is for tail ie last

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#### Getting all the coloumns

In [ ]:
pokieme.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### reading that specific coloumn

In [ ]:
# <!-- print(pokieme['Name']) #OG FORMAT -->
pokieme.Name #EASY WAY
# <!-- pokieme['Name'] -->

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Accessing  rows of that coloum

In [ ]:
pokieme['Name'][45:60] #accessing name fro 45 to 59 perticular coloumn

45    Wigglytuff
46         Zubat
47        Golbat
48        Oddish
49         Gloom
50     Vileplume
51         Paras
52      Parasect
53       Venonat
54      Venomoth
55       Diglett
56       Dugtrio
57        Meowth
58       Persian
59       Psyduck
Name: Name, dtype: object

In [ ]:

print(pokieme.iloc[70:72]) #whole row

     #                   Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
70  65               Alakazam  Psychic    NaN  55      50       45      135
71  65  AlakazamMega Alakazam  Psychic    NaN  55      50       65      175

    Sp. Def  Speed  Generation  Legendary
70       95    120           1      False
71       95    150           1      False

#### accesing multiple coloumns

In [ ]:
pokieme[['Name','Type 1','Type 2']]  #accesing multiple coloumns

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

#### Read a specific location(R,C)

In [ ]:
print(pokieme.iloc[2,1]) #first is from coloumn and second is from row 
#in this this wiil access from index 2 in coloumn and 1 index in row
print(pokieme.iloc[795,2])

Venusaur
Rock

## creating your own dtaaframe and working with that

####how to create a dataframe

In [14]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"] , index=["x", "y", "z"])

In [20]:
df.head(2)

   A  B  C
x  1  2  3
y  4  5  6

In [17]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [18]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [ ]:
df.index.tolist() ##dispaly index of the dataframe

['x', 'y', 'z']

In [ ]:
df.info() #display infoof that dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [ ]:
df. describe()  # display all the importanat calculation of that dataframe

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
df['A'].unique() #display values of each given/specific columns

array([1, 4, 7])

In [ ]:
df.shape #display shape / how amy rows and columns that datframe has

(3, 3)

In [ ]:
df.size #size of that dataframe

9

###Accesiing data with pandas

In [36]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [ ]:
coffee.sample(10) #display random sample from the dataset from csv

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
3     Tuesday       Latte          20
2     Tuesday    Espresso          30
5   Wednesday       Latte          25
9      Friday       Latte          35
10   Saturday    Espresso          45
1      Monday       Latte          15
13     Sunday       Latte          35
12     Sunday    Espresso          45
8      Friday    Espresso          45

In [ ]:
coffee.sample(10, random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

#### loc and iloc      {df.loc[#rows.#coloumns]}

In [ ]:
coffee.loc[[0,1,2]] #display first 3 coloumns

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [ ]:
coffee.loc[0:3] #from index 0 t0 3

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [ ]:

coffee.loc[5:] #after index 5

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [46]:
coffee.loc[:5] #before index 5

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

In [ ]:
coffee.loc[ 5:12 , ["Day"]] #from 5 to 12 IN day day coloumn

          Day
5   Wednesday
6    Thursday
7    Thursday
8      Friday
9      Friday
10   Saturday
11   Saturday
12     Sunday

In [ ]:
coffee.loc[:,["Day","Units Sold"]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

## iloc (only use index values)

In [56]:
coffee.index

RangeIndex(start=0, stop=14, step=1)

In [81]:
coffee.loc["Monday":"Wednesday"]

Empty DataFrame
Columns: [Day, Coffee Type, Units Sold]
Index: []

In [ ]:
#how to modify your data
#syntax = df.loc[indexvalue , [columnname]]=chnaged value

In [80]:
coffee.loc[1, "Units Sold"] = 10

In [82]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

## How to acess specific values (iat at)

#### iat = this will acess a single value for a rows/coloumns pair by integer position 
      df.iat[row_index,coloumns_index]

#### at = acessinging a single value for a row / coloumns label pair 
     df.at[rowlabel,coloumnlabel]